@main: #002347;
@dark-blue: #002B58;
@light-blue: #ACC6FC;
@lighter-blue: #F1F8FF;

@black: #000;
@gray: #DDD;
@light-gray: #F6F6F6;
@white: #FFF;
@dark-gray: #ACB4BF;

@cta: #2863FD;
@cta-hover: #0741B0;
@error: #E31C3D;

@publishing: #AF8FE3;
@corp: #A8DAE2;
@marketing: #22CAFF;

.cta {
  color: @cta;
  font-weight: bolder;
}